.add-box {
  text-align: center;
}

.add-btn {
  background: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #aaa;
}
